{% extends "base.html.twig" %}

{% block title %}Web App | ダッシュボード{% endblock %}

{% block body %}
    <section id="twig-admin-dashboard">
        <h1>Web App</h1>
        <h2>ダッシュボード</h2>
        <div>{{app.user.username}} でログインしています。</div>
        <br>
        <a href="/logout">ログアウト</a>
    </section>
{% endblock %}